
/**
 * @file
 * Generic base styles for the Commerce Checkout module.
 *
 * Handles styling needed by AJAX effects.
 */

.checkout-processing {
  /* padding-right: 13px !important; /* LTR */
  /* margin-right: 6px; /* LTR */
  background: url(../images/status-active.gif) right center no-repeat; /* LTR */
}
