.commerce-addressbook-customer-profile-form {
  #addressfield-wrapper {
    #edit-commerce-customer-address-und-0 {
      border-color: $basecolor;

      .fieldset-legend {
        color: $basecolor;
      }
    }
  }
}

@include breakpoint($tab, true) {
  .commerce-addressbook-customer-profile-form {
    width: 50%;
    #addressfield-wrapper {
      #edit-commerce-customer-address-und-0 {
        border-color: $basecolor;

        .fieldset-legend {
          color: $basecolor;
        }
      }
    }
  }
}
