  .checkout-buttons {
    .checkout-continue {
      @include border-radius(5px);
      margin-right: 10px;
    }
    .checkout-cancel {
      display: none;
    }
    .button-operator {
      display: none !important;
    }
    .checkout-back {
      @include border-radius(5px);
      background-color: $basecolor !important;
      text-transform: capitalize;
    }
    .checkout-processing {
      visibility: hidden;
    }
  }

  .checkout-processing {
    display:none;
  }

