.page-node-105 {
  .l-content {
      h1 {
        color: $white;
        background: $basecolor;
        line-height: 28px;
        padding: $vert-spacing-unit*2;
      }
      span.form-required {
        display: none;
      }
  }
}