/**
 * $PASSWORD-INDICATOR
 */
.password-indicator {
  height: 0.8em;
  background: none;
  border: 1px solid $light-grey;

  .indicator {
    background: $basecolor;
  }
}

.password-strength-title {
  margin-bottom: 0.2em;
}
