/**
 * $SEARCH-FORM
 */
.block--views-exp-display-products-page {
  display: none;
}

@include breakpoint($tab, true) {
  .block--views-exp-display-products-page {
    display: inline-block;
    float: right;
    margin-right: 0;
    .views-exposed-widgets {
      margin: 0;
      .views-widget-filter-search_api_views_fulltext {
        padding: 0;
      }
      .views-submit-button {
        padding: 0;
      }
      .form-submit {
        margin: 0;
      }
    }

    input#edit-search-api-views-fulltext.form-text {
      color: $basecolor;
      border: 0;
      border: 1px solid $basecolor;
      padding: 0.6em 0.3em 0.6em 0.3em;
      width: 200px;
    }
    input#edit-submit-display-products.form-submit {
      display: none;
    }
    input#edit-submit.form-submit,
    input#edit-submit--2.form-submit {
      position: relative;
      left: -30px;
      top: 8px;
    }
  }
}
