.user-register-form,
.user-profile-form {
  .password-strength {
    width: 100%;
  }
  .login-account {
    display: block;
    margin-top: $vert-spacing-unit;
    text-decoration: none;
  }
}

@include breakpoint($sml_tab_landscape, true) {
  .user-register-form,
  .user-profile-form {
    width: 50%;
  }
}