/*List categories front page*/

.view-list-categories {
  .view-header {
    h2 {
      padding: $vert-spacing-unit 0;
    }
  }
  .view-content {
    text-align: center;
    .views-row {
      text-align: center;
      display: inline-block;
      background: $white;
      padding: 5px;
      margin-bottom: $vert-spacing-unit;
      @include box-shadow(black 2px 2px 15px);

      h3 {
        color: $basecolor;
        text-align: left;
        padding: $vert-spacing-unit 0;
        @include font-size(22px);
        text-align: center;
      }
      .view-category-button {
        display: block;
        padding: $vert-spacing-unit/2 0;
        background: $basecolor;
        @include border-radius(3px);
        a {
          display: block;
          color: $white;
          text-decoration: none;
          font-weight: bold;
          font-family: $kreon;
          @include font-size(16px);
          &:after {
            content: " \00bb";
          }
        }
      }
    }
  }

}

@include breakpoint($sml_tab_portrait, true) {
  .view-list-categories {
    .view-content {
      text-align: center;
      .views-row {
        float: left;
        margin-right: $horz-spacing-unit*2;
        &:nth-child(2) {
          margin-right: 0px;
        }
        &:nth-child(4) {
          margin-right: 0px;
        }
        &:nth-child(6) {
          margin-right: 0px;
        }
        &:nth-child(8) {
          margin-right: 0px;
        }
      }
    }
  }
}

@include breakpoint($sml_tab_landscape, true) {
  .view-list-categories {
    .view-content {
      text-align: center;
      .views-row {
        float: left;
        margin-right: $horz-spacing-unit*2;
        &:nth-child(2) {
          margin-right: 0px;
        }
        &:nth-child(4) {
          margin-right: 0px;
        }
        &:nth-child(6) {
          margin-right: 0px;
        }
        &:nth-child(8) {
          margin-right: 0px;
        }
      }
    }
  }
}

@include breakpoint($tab, true) {
  .view-list-categories {
    .view-content {
      text-align: center;
      .views-row {
        float: left;
        margin-right: $horz-spacing-unit*4;
        margin-left: $horz-spacing-unit*4;
        &:nth-child(2) {
          margin-right: 0px;
        }
      }
    }

  }
}

@include breakpoint($tab_landscape, true) {
  .view-list-categories {
    .view-content {
      text-align: center;
      .views-row {
        float: left;
        margin-right: $horz-spacing-unit*2;
        margin-left: $horz-spacing-unit*2.5;
        &:nth-child(2) {
          margin-right: $horz-spacing-unit*2;
        }
        &:nth-child(3) {
          margin-right: 0px;
        }
        &:nth-child(4) {
          margin-right: $horz-spacing-unit*2;
        }

      }
    }

  }
}


@include breakpoint($desk, true) {
  .view-list-categories {
    .view-content {
      .views-row {
        margin-right: $horz-spacing-unit*2;
        margin-left: 0;
        &:nth-child(2) {
          margin-right: $horz-spacing-unit*2;

        }
        &:nth-child(3) {
          margin-right: $horz-spacing-unit*2;
        }

        &:nth-child(4) {
          margin-right: 0px;
        }

        &:nth-child(6) {
          margin-right: $horz-spacing-unit*2;
        }

        &:nth-child(8) {
          margin-right: 0px;
        }
      }
    }

  }

}