.view-card-collections,
.view-all-cards,
.view-display-products {
  .view-empty {
    a {
      display: inline-block;
      background: $basecolor;
      color: $white;
      padding: 5px;
      @include border-radius(5px);
      text-decoration: none;
      &:hover {
        background: lighten($basecolor, 25%);
      }
    }
  }
  .view-header {
    .view-display-id-collection_header_block {
      .view-content {
        .views-row {
          width: 100%;
          clear: both;
          padding: 0;
          height: auto;
          .views-field-field-category-image {
            @include box-shadow(lighten($black, 20%) 2px 2px 15px);
          }
        }
      }
    }
  }
  .view-content {
    .views-row {
      display: block;
      text-align: center;
      height: 400px;
      padding: $vert-spacing-unit 0;

      .views-field-field-card-image {
        height: 300px;
        a {
          line-height: 300px;
          img {
            vertical-align: bottom;
            @include box-shadow(lighten($black, 20%) 2px 2px 15px);
          }
        }
      }
      .views-field-title,
      .views-field-title-field {
        padding: $vert-spacing-unit/2 0;

        a {
          color: $black;
          text-decoration: none;
          @include font-size(18px);
          font-weight: bold;
        }
      }
      .views-field-view-node {

        a.start-personalising {
          @include font-size(18px);
          font-weight: bold;
          text-decoration: none;
          &:after {
            content: " \00bb";
            padding-left: 0.4em;
            vertical-align: baseline;
          }
        }
      }

      .views-field-title-field-1 {
        a {
          @include font-size(16px);
          font-weight: bold;
          text-decoration: none;
          &:after {
            content: " \00bb";
            padding-left: 0.4em;
            vertical-align: baseline;
          }
        }
      }
    }
  }

}

@include breakpoint($desk, true) {
  .view-card-collections,
  .view-all-cards,
  .view-display-products {
    .view-content {
      .views-row {
        width: 33%;
        float: left;
      }
    }
  }
}