.block--views-list-categories-block-1 {
  .view-header {
    h2 {
      padding: $vert-spacing-unit 0;
    }
  }
  .views-row {
    text-align: center;
    display: inline-block;
    background: $white;
    padding: 5px;
    margin-bottom: $vert-spacing-unit;
    @include box-shadow(black 2px 2px 15px);
    h3 {
      @include font-size(13px);
      color: $basecolor;
      text-align: left;
      padding: $vert-spacing-unit 0;
    }
    .view-category-button {
      display: block;
      padding: $vert-spacing-unit/2 0;
      background: $basecolor;
      @include border-radius(3px);
      a {
        display: block;
        color: $white;
        text-decoration: none;
        font-weight: bold;
        @include font-size(12px);
        &:after {
          content: " \00bb";
        }
      }
    }
  }
}

@include breakpoint($tab, true) {
  .block--views-list-categories-block-1 {
    .views-row {
      float: left;
      margin-right: $horz-spacing-unit;
    }
  }

}

@include breakpoint($desk, true) {
  .block--views-list-categories-block-1 {
    .views-row {
      margin-right: $horz-spacing-unit*2;
      &:nth-child(2) {
        margin-right: 0px;
      }
      &:nth-child(4) {
        margin-right: 0px;
      }
      &:nth-child(6) {
        margin-right: 0px;
      }
      &:nth-child(8) {
        margin-right: 0px;
      }
    }
  }

}