.admiral-card-vertical {
  .ckeditor_links {
    display: none!important;
  }
  .field-name-admiral-client-address {
    .form-item {
      label {
        @include font-size(12px);
      }
    }
  }
}

.admiral-card-horizontal {
  .ckeditor_links {
    display: none!important;
  }
}

div.messages.messages--error {
  color: $basecolor;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 320px;
  margin-left: -150px;
  box-shadow: 0px 0px 25px $grey;
  text-align: center;
  font-weight: bold;
  @include border-radius(12px);
  border: 5px solid $basecolor;
  background: $background;
}

