.block--block-5 {
  display: inline-block;
  background: $basecolor;
  float: right;
  margin-left: $vert-spacing-unit;
  @include border-radius(5px);
  &:hover {
    background: $highlight;
  }
  .my-acc-button {
    a {
      display: block;
      height: 38px;
      line-height: 36px;
      padding: 0 10px;
      color: $white;
      text-decoration: none;
    }
  }
}