/* Page Background */
.l-main,
.l-breadcrumb {
  background: $background;
}

.l-page {
  background: lighten(#d3d3d3, 25%);
}


/*   Laqyout Mods **/
.l-main {
  padding: 10px!important;
}

.l-unconstrained-content-first {
  background: $basecolor;
}
.l-unconstrained-header{
  /*background: url('../images/header-bg.png');*/
  background-color: $grey;
  .l-header {
    margin-bottom: 0;
  }
}

.l-unconstrained-main {
  background-color: $grey;
  background: url('../images/main-bg.png');
}

.messages--error {
  z-index: 9999;
}


