/*Card layout regions*/
/* All verticals will have the same top fields so position them in here */
.admiral-card-horizontal-step-2.design-it-landscape {
  span {
    padding-left: 5px;
  }
  label{
    font-weight: bold;
    float:left;
  }
  .main-image-wrapper{
    width: 10%;
    float:left;
  }
  .chosen-card{
    float:left;
    width: 90%;
    margin-bottom: 30px;
  }
  .color-option{
    width: 100%;
    margin-top: 20px;
  }


  /*   Top Region   */
  .vert-top-region {
    background: $white;
    width:100%;
    margin-top: 10px;
    padding: 5px;
    float:left;
    .cost-price {
      display: none;
    }

    .field-name-admiral-charity-select,
    .field-name-field-inside-printed-colour {
      width: 25%;
      float: left;
      margin-right: $horz-spacing-unit;
    }
    .form-item-quantity {
      width: 100px;
      float:left;
      margin-right: 25px;
    }
    .ui-spinner-buttons {
      left: 84px!important;
    }
  }

  /*   Card Layout Region   */
  .vert-card-layout-region.portrait-card-layouts {

    background: $white;
    clear: both;
    width: 100%;
    padding: 15px;
    .field-name-admiral-card-layout-select {
      background: $grey;
      display: inline-block;
      padding: 35px;
      .form-item {
        .form-radios {
          .description {
            @include box-shadow(lighten(black, 25%) 2px 2px 15px);
            margin-right: 40px;
            margin-bottom: $vert-spacing-unit;
            &:nth-child(4n + 4) {
              margin-right: 0px;
            }
          }
        }
        label {
          display: block;
          width: 90%;
        }
      }
    }

  }
  /*Left Panel Region */
  .horz-left-panel-wrapper {
    display: none;
  }


  /*Right Panel Region   */

  .horz-right-panel-wrapper {
    width: 100%;
    height: auto;
    float: left;
    background: $white;
    text-align: center;
    padding: 0;
    border:none!important;
  }


  .horz-right-panel-wrapper {
    text-align: left;

    span.location {
      display:none;
    }

    .design-it-spacer {
      display: block;
      background: $background;
      margin: $vert-spacing-unit 0;
    }

    /* Greeting   */

    .field-name-field-greeting {
      width: 50%;
      margin-left: $horz-spacing-unit;
      border: 2px dashed lighten($highlight, 25%);
      margin-bottom: 0;

      .form-item {
        label {
          color:#b779e8;
        }
      }

      .cke_top {
        position: fixed;
        width: 335px;
        height: 200px;
        left: 60%;
        top: 25%;
        display: none;
      }

      .cke_reset {
        border: none;
      }

      .cke_contents {
        height: 120px!important;
      }

      .cke_bottom {
        display: none;
      }

      .filter-wrapper {
        display: none;
      }
    }

    /*   Address     */

    .field-name-admiral-client-address {

      width: 35%;
      margin-left: $horz-spacing-unit;
      margin-bottom: 0;

      .form-item {
        border: 2px dashed lighten($highlight, 25%);
        label {
          color:$highlight;
        }

      }

      .cke_reset {
        border: none;
      }

      .cke_top {
        position: fixed;
        width: 335px;
        height: 196px;
        left: 60%;
        top: 55%;
        display: none;
      }

      .cke_contents {
        height: 95px!important;
      }

      .cke_bottom {
        display: none;
      }

      .filter-wrapper {
        display: none;
      }
    }

    .field-name-admiral-left-panel-image {
      margin-left: $horz-spacing-unit;
      margin-top: 35px;
      .ajax-new-content {
        display:none!important;
      }


      text-align: center;
      clear: both;
      margin-bottom: 0;
      .form-item {
        width: 300px;
        height: 315px;
        border: 2px dashed lighten($highlight, 25%);
        label {
          margin-top: -30px;
        }
        .image-preview {
          padding: 0;
        }
        .image-widget {

          .image-widget-data {
            .form-file {
              margin-top: $vert-spacing-unit;
              margin-left: 85px;
            }

            .form-submit {
              margin-top: $vert-spacing-unit;
            }

            .file {
              display: none;
            }
            .file-size {
              display: none;
            }
            .button--negative {
              margin-top: -50px;
              margin-left: 145px;
              position:relative;
            }
          }
        }
      }
    }


    .field-name-admiral-right-panel-centre-image {
      width: 188px;
      margin-left: $horz-spacing-unit;
      margin-top: 35px;

      text-align: center;

      .form-item {
        height: 94px;
        border: 2px dashed lighten($highlight, 25%);
        label {
          margin-top: -30px;
        }
        .description {
          @include font-size(8px);
          line-height: 120%;
        }
        .image-preview {
          padding: 0;
        }
        .image-widget {
          .image-widget-data {
            margin-top: 10px;
            font-size: 10px;
            width: 150px;
            margin-left: 25px;

            .form-submit {
              margin-top: 10px;
            }
            .file {
              display: none;
            }
            .file-size {
              display: none;
            }
            .button--negative {
              position:relative;
              margin-top: -90px;
              margin-left: 26px;
            }
          }
        }
      }
    }


    /* Signature */
    .field-name-admiral-right-panel-signature {
      width: 385px;
      margin-left: $horz-spacing-unit;
      margin-top: 35px;

      text-align: center;

      .form-item {
        height: 158px;
        border: 2px dashed lighten($highlight, 25%);
        margin: 0 auto;
        label {
          margin-top: -30px;
        }
        .image-preview {
          padding: 0;
        }
        .image-widget {
          position: relative;

          .image-widget-data {
            margin-top: 20px;
            width: 150px;
            margin-left: 100px;

            .form-submit {
              margin-left: 20px;
              margin-top: 10px;
            }

            .file {
              display: none;
            }
            .file-size {
              display: none;
            }
            .button--negative {
              position:relative;
              margin-top: -90px;
              margin-left: 26px;
            }
          }
        }
      }
    }

    .field-name-admiral-right-panel-right-image {
      display: none;
    }

    .field-name-admiral-right-panel-left-image {
      display: none;
    }

    .field-name-admiral-right-panel-main {
      display: none;
    }
  }

  .confirmation-wrapper {
    clear: both;
    background: $white;
    padding: 10px;
    label.option {
      float: none;
    }
    .ticking-box {
      display: block;
      padding: $vert-spacing-unit 10px;
    }
  }
}