.block--menu-menu-social-connection {
  display: none;
  height: 38px;
  padding-top: 3px;
  padding-left: $horz-spacing-unit;
  @extend %hlist;
  /*float: right;*/
  margin-right: $horz-spacing-unit;
  .block__title {
    /*display: none;*/
    color: $basecolor;
    @include font-size(26px);
  }
  ul.menu {
    padding: 0;
    margin: 0;
    li {
      margin-right: 5px;
      a {
        display: block;
        height: 35px;
        width: 35px;
      }
      a.facebook {
        @include replace-text('../images/face-footer.png', 0, 0);
      }
      a.linked-in {
        @include replace-text('../images/link-footer.png', 0, 0);
      }
    }
    li.last {
      margin-right: 0;
    }

  }
}

@include breakpoint($tab, true) {
  .block--menu-menu-social-connection {
    display: block
  }
}